
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    

    <div class="signin">
        <div class="head"><h3>Login Here !</h3></div>
        <form [formGroup]="loginform" (ngSubmit)="login();" method="get">
            
        <div class="place">
            <input type="email" formControlName="email" id="email" placeholder="enter your email" class="form-control">
        </div>
        <div class="place">
            <input type="password" formControlName="password" id="password" placeholder="enter your password" class="form-control">
        </div>
        <div class="b1">
            <input type="submit" value="login">
        </div>
       
        </form>

        <div class="b2">
            <button type="button" routerLink="reg">Signup</button>
        </div>
    </div>
    
</body>
</html>
