form{
    text-align: center;
}

.place{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    
}

.signin{
    margin-top: 200px;
   
}

.head{
    text-align: center;
}

.b1{
    text-align: center;
    margin-top: 20px;
}